*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
}


html{
    height: 100%;
}



body{
    min-height: 100% ;
}

.navbar{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.navbar ul{
    display: flex;
    list-style-type: none;
    gap:20px;
    text-align: center;
}

.navbar a{
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    position: relative;
}

.navbar span{
    position: absolute;
    width: 200px;
    height: 50px;
    border: 1px solid red;
    background-color: black;
    color: white;
    top:120%;
    left:50%;
    transform: translateX(-50%);
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s;
}

.navbar a:hover span{
    visibility: visible;
    opacity: 1;
}

.navbar span::before{
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

