.screen{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: darkgray;
}

.calender{
    position: relative;
}

.calender .upper{
    display: flex;
    justify-content: start;
    width: 200px;
    background-color: lightgray;
    border: 1px solid black;
    padding:1em;
    border-radius: 15px;
    box-shadow: 4px 4px 10px rgb(0, 0, 0, 0.1);
}
.upper .text{
    font-size: 14px;
    color: grey;

}

.upper .icon{
    margin-left: auto;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.calender .lower{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 200px;
    background-color: lightgray;
    top: 105%;
    padding: 1em;
    border: 1px solid black;
    border-radius: 15px;
    gap: 0.5em;
}

.lower .days, .month-year{
    display: flex;
    justify-content: space-evenly;
    gap:0.5em;
    cursor:default;
}

.month-year::before{
    content:"<";
    cursor: pointer;
}

.month-year::after{
    content:">";
    cursor: pointer;
}

.lower .nums{
    display: grid;
    grid-template-columns: repeat(7,18px);
    justify-content: center;
    gap: 0.4em;
    width: 200;
}

.nums span{
    cursor: pointer;
    text-align: center;
    transition: all 0.3s;
}

.nums span:hover{
    background-color: lightgray;
    box-shadow: 1px 1px 1px rgb(1, 1, 1, 0.1),
    -1px -1px 1px rgb(1, 1, 1, 0.1);
}